{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": "last 2 Chrome versions"
      }
    }],
    "@babel/react"
  ],
  "plugins": [
    '@babel/transform-runtime',
    ["babel-plugin-root-import", {
      "rootPathSuffix": "."
    }]
  ],
  "env": {
    "development": {
      "presets": [
        ["@babel/react", {
          "development": true
        }]
      ],
    },
    "production": {
      "presets": [
        ["@babel/env", {
          "targets": {
            "browsers": "last 2 Chrome versions",
            "forceAllTransforms": true
          }
        }],
      ],
      "plugins": [
        // extracted from babel-preset-react-optimize
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-transform-react-inline-elements"
      ]
    }
  }
}
