{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": "last 2 Chrome versions",
        "node": "current"
      }
    }],
    "@babel/react"
  ],
  "plugins": [
    '@babel/transform-runtime',
    ["babel-plugin-root-import", {
      "rootPathSuffix": "."
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        "react-optimize"
      ]
    }
  }
}
